* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #18242e;
}

.one,
.two,
.three {
  border: 1px solid #686f75;
  border-bottom: none;
}

.two {
  border-left: none;
  border-right: none;
}

.logo {
  margin-left: 3%;
  width: 50px;
  height: 50px;
}

.btn-primary {
  font-weight: bold;
  padding: 13px;
  background: #31a1e1;
  width: 240px;
  border-radius: 50px;
}

.logo {
  padding-left: 10px;
  font-size: 30px;
}

.logo:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 50px;
}

@media (max-width: 985px) {
  .sec-one {
    border-right: none;
    width: 200vw;
    border-bottom: 1px solid #686f75;
  }
  .sec-two {
    width: 20vw;
    border-right: none;
    border-bottom: 1px solid #686f75;
  }
}
